*.DS_Store
gfold_exps.txt
**/*.DS_Store
*.pyc
**/*.pyc
**/logs
**/logs/*
*.ipynb
ipynb_checkpoints/*
.idea
.idea/*
__pycache__/*
*/__pycache__/*
**/__pycache__/*
**/*.swp
**/*.iml
**/the_paper.pdf
evaluation_scripts/**/*.npz
evaluation_scripts/**/*.npy
control_and_ai/DDPG/normalized_short_model/*
control_and_ai/DDPG/unnormalized_short_model/*
control_and_ai/DDPG/normalized_long_model/*
control_and_ai/DDPG/unnormalized_long_model/*
control_and_ai/DDPG/normalized_long_untransformed_model/*
control_and_ai/DDPG/unnormalized_long_untransformed_model/*
control_and_ai/DDPG/normalized_short_untransformed_model/*
control_and_ai/DDPG/unnormalized_short_untransformed_model/*
*.mp4
**/*.mp4
**/gymresults
out
out/*
**/*.log
**/*.synctex*
**/*.aux*
**/*.bbl*
**/*.blg*
**/*.run*
**/*.blend1
**/*.stats
**/*.hprof
