cvxpy==1.2
autograd==1.3
matplotlib==3.3.3 
numpy==1.21.5 # Don't change version!
scipy==1.8.1 # Don't change version! The solvers are version specific!
control==0.9.0
sympy==1.9 # used for symbolic computation
pyglet==1.5.15
gevent==21.8.0
greenlet==1.1.2
colorlog==6.6.0
panda3d==1.10.11
panda3d-blend2bam==0.20
pympler==1.0.1
graphviz==0.19.2
python-dotenv==0.20.0
