*.DS_Store
**/*.DS_Store
**/logs
**/logs/*
*.ipynb
ipynb_checkpoints/*
.idea
.idea/*
__pycache__/*
*/__pycache__/*
**/__pycache__/*
**/*.swp
**/*.iml
**/the_paper.pdf
evaluation_scripts/**/*.npz
evaluation_scripts/**/*.npy
control_and_ai/DDPG/normalized_short_model/*
control_and_ai/DDPG/unnormalized_short_model/*
control_and_ai/DDPG/normalized_long_model/*
control_and_ai/DDPG/unnormalized_long_model/*
control_and_ai/DDPG/normalized_long_untransformed_model/*
control_and_ai/DDPG/unnormalized_long_untransformed_model/*
control_and_ai/DDPG/normalized_short_untransformed_model/*
control_and_ai/DDPG/unnormalized_short_untransformed_model/*
*.mp4
**/*.mp4
**/gymresults
out
out/*
**/*.log
**/*.synctex*
**/*.aux*
**/*.bbl*
**/*.blg*
**/*.run*
**/*.blend1
**/*.stats
**/*.hprof
**/*.spl
**/manuscript*.png
**/*.htm
**/*.html
**/*.doc
**/*.docx
**/*.css
**/*.4ct
**/*.4tc
**/*.tmp
**/*.xref
**/*.lg
**/*.idv
**/*.dvi
**/*.svg
**/cmr*.png
**/cms*.png
**/*.mk
main/*.pdf
main/*.odt
main/*.4*
main/*.out
